.todo {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}
.todo-wait {
  background: #dddfdc;
}
.todo-success {
  background: #bad9ba;
}
.todo-content {
  margin-left: 5px;
  font-size: 18px;
}
.btn-complete {
  background-color: #d6c9e2;
}
.btn-delete {
  background-color: #c45151;
}
